header{
  -webkit-background-size: cover;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  .link{
    color: #d00522;
  }
  .click{
    display: none;
  }
.top-box{
  padding: 18px 0 ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo{
    img{
      &:last-child{
        display: none;
      }
    }

  }
  a{
    color: #fff;
    font-family: muller-medium,sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    transition: 0.3s;
i{
  margin-top: -2px;
  font-size: 55px;
  margin-right:15px;
}
    &:hover{
color: $red;
    }
  }
}
  .logo-scroll {
    a{
      color: black;
    }
    .logo {
      img {
        &:last-child {
          display: block;
        }
        &:first-child {
          display: none;
        }
      }
    }

  }
  @keyframes topS {
    0%{
      top: -120px;
    }
    100%{
      top: 0;
    }
  }
  .red-window{
    padding: 95px 100px 0;
    box-shadow: 3px 5px 42px 4px rgba(0, 0, 0, 0.34);
    border: 9px solid #d00522;
    position: relative;
    margin-right: -100px;
    margin-left: -100px;
    margin-bottom: 50px;
    h1{
      max-width: 680px;
      line-height: 60px;
      position: relative;
      z-index: 1;
    }
    p{
      font-size: 20px;
      max-width: 460px;
      line-height: 30px;
      margin-bottom: 15px;
      font-family: muller-light, sans-serif;
      position: relative;
      z-index: 1;

    }
    .button-red{
      position: relative;
      z-index: 1;
    }
    .car-box{
      position: absolute;
      right: -15%;
      bottom: -15%;

      width: 100%;


     img{
       width: 100%;
     }
    }
    .car-box1{
      opacity: 0;
      width: 65%;

      img{
        width: 100%;
      }
    }
  }
  .brands{
    margin: 0 -20px;
    display: flex;
    padding: 55px 0;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    .brand-item{
      padding: 0 20px;
    }
  }
}
.menu{
  padding: 0 20px;
  font-size: 20px;
  font-family: muller-medium,sans-serif;
  position: relative;
  color: black;
  ul{
    //display: flex;
    white-space: nowrap;
    list-style-type: none;
    justify-content: space-around;
    transition: display 1s;
    li{
      padding: 5px 15px;
      //border: 1px solid red;
      border-radius: 5px;
      margin: 10px 5px;
      //background: red;
      &:hover{
        border-radius: 40%;
        transition: 1s;

      }
      a{
        text-decoration: underline;
      }
    }
  }

  .icon{
    position: absolute;
    color: red;
    right: 0;
    top:-35px;
    display: none;
    cursor: pointer;
  }
}
@media (max-width: 1200px) {
  header .red-window {
    margin-right: 0px;
    margin-left: 0px;

  }

}
@media (max-width: 993px) {
  header .red-window {
    padding: 60px 60px 0;

  }
  header .brands{
    justify-content: space-around;
  }
  header .brands .brand-item {
    padding: 20px;
  }
}
@media (max-width: 768px) {
  .menu .icon {
    position: absolute;
    color: red;
    right: 0;
    top: -35px;
    display: block;
  }

  header .red-window {
    padding: 30px 30px 0;
  }
  header .red-window h1 {
    max-width: 680px;
    line-height: 37px;
    position: relative;
    z-index: 1;
  }
  .icon{
    display: block;
  }
  .ul{
    flex-direction: column;
    justify-content: center;
    li{
      display: inline-block;
      text-align: center;
    }
  }
}
@media (max-width: 480px) {

}
.fixed{
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 100;
  transition: 3s;
}
