.service-main .title-box {
  max-width: 750px;
}

.service-main .title-box h1 {
  font-size: 60px;
}

.service-main .title-box p {
  font-size: 18px;
  line-height: 27px;
}

.service-video {
  padding: 0;
  border-bottom: 10px solid #485d68;
}

.service-video .video-content {
  max-width: 100%;
  margin: 0;
}

.service-evo h3 {
  margin-bottom: 68px;
}

.service-evo .items .item {
  height: auto;
  padding: 60px 15px 30px;
  border-top: none;
  margin-bottom: 52px;
  border-color: #fff;
}

.service-evo .items .item:hover {
  background-color: transparent;
}

.service-evo .items .item:hover p {
  color: #fff;
}

.service-evo .items .item:after {
  background-color: #fff;
}

.service-evo .items .item span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border: 4px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: -26px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.service-evo .items .item span:before {
  content: "";
  position: absolute;
  height: 4px;
  width: 100px;
  background-color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 52px;
}

.service-evo .items .item span:after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100px;
  background-color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 52px;
}

.service-evo .items .item .circle {
  width: 97px;
  height: 97px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 auto 15px;
}

.service-evo .items .item .circle img {
  width: 50%;
}

.service-evo .items .item p:last-child {
  display: block;
  margin: 0 auto;
  overflow: visible;
  height: auto;
}

.service-evo .items .item:before {
  position: absolute;
  content: '';
}

@media (max-width: 1200px) {
  .service-evo .item:nth-child(4):after {
    width: 4px;
    height: 25px;
    top: -50px;
    left: 49.5%;
    background-color: #fff;
  }
}